RewriteEngine on
RewriteRule ^$ publique/vue/index.php
RewriteRule ^accueil publique/vue/index.php
RewriteRule ^boutique publique/vue/vue-liste-goodies.php
RewriteRule ^biere publique/vue/vue-biere.php
RewriteRule ^inscription publique/vue/vue-inscription.php
RewriteRule ^panier publique/vue/vue-panier.php
RewriteRule ^connexion publique/vue/vue-connexion.php
RewriteRule ^contact publique/vue/vue-contact.php
RewriteRule ^a-propos publique/vue/vue-a-propos.php

RewriteRule ^utilisateur/paiement utilisateur/vue/vue-paiement.php



