@import "../commun/bootstrap-4.0.0/scss/bootstrap.scss";

  .col-md-5{

    .carte-image-goodie
    {
        margin-left: 20%;
        margin-right: auto;
        padding-top: 10%;
        width: 50%; 
    }
} 

#navbar{
    background-color: white !important;
    position: relative !important; 
  } 