@import "../commun/bootstrap-4.0.0/scss/bootstrap.scss";

$couleur-principal: #fcc200;
$hover-principal: #c18e00;
$taille-police: 2em;
.conteneur-boutique{
  @extend .row;
  margin-left: 0;
  margin-right: 0;
}

.carte-goodie{
  @extend .card;
  margin-right: 3%;
  margin-bottom: 1%;
  padding: 2%;

}

.carte-image-goodie{
  @extend .card-img-top;
}

.carte-goodie-corp{
  @extend .card-body;
}

.carte-goodie-titre{
  @extend .card-title;
}

.carte-goodie-texte{
  @extend .card-text;
}

.conteneur-categories-liste-goodies{
  position: fixed;
  width: 23%;

}
.liste-categorie-goodies{
  @extend .list-group;
  @extend .list-group-flush;
  font-size: $taille-police;
}

.lien-liste-categorie-goodies{
  @extend .list-group-item;
  @extend .d-flex;
  @extend .justify-content-between;
  @extend .align-items-center;

  &:hover {
    background-color: #d1ecf1;
  }
}

.badge-liste-categorie-goodies{
  @extend .badge;
  @extend .badge-success;
  @extend .badge-pill;
  @extend .text-right;
  background-color: $couleur-principal;
}

.pagination-liste-goodies{
  @extend .pagination;
  padding-left: 30%;
  font-size: $taille-police;
}

.objet-pagination{
  @extend .page-item;
}

.lien-pagination{
  @extend .page-link;
}
