@import "../commun/bootstrap-4.0.0/scss/bootstrap.scss";

.bouton
{
    @extend .btn;
}
.bouton-vert
{
    @extend .btn-success;
}
.bouton-bleu
{
    @extend .btn-info;
}
.bouton-rouge
{
    @extend .btn-danger;
}
.bouton-jaune
{
    @extend .btn-warning;
}
.liste-horizontale
{
    @extend .list-inline;
}
.element-liste-horizontale
{
    @extend .list-inline-item; 
} 
.groupe-formulaire
{
    @extend .form-group;
}
.controle-formulaire
{
    @extend .form-control;
    width: 100%;
}
.controle-cocher
{
    @extend .form-check-input;
}
.etiquette-cocher
{
    @extend .form-check-label;
}
header
{
    background-color:#f8f9fa;
    //background-color: fuchsia;
}
.contenu
{
    margin-left: 10%; 
    background-color:#f8f9fa;
    width: 60%;

}
.titre
{
    margin-left: 10%;
}