@import "../commun/bootstrap-4.0.0/scss/bootstrap.scss";

$margeContenu: 7%;
.bouton
{
    @extend .btn;
}
.bouton-vert
{
    @extend .btn-success;
}
.bouton-bleu
{
    @extend .btn-info;
}
.bouton-rouge
{
    @extend .btn-danger;
}
.bouton-jaune
{
    @extend .btn-warning;
}
.liste-horizontale
{
    @extend .list-inline;
}
.element-liste-horizontale
{
    @extend .list-inline-item;
    margin-top: 1.5%;  
} 
.groupe-formulaire
{
    @extend .form-group;
}
.controle-formulaire
{
    @extend .form-control;
    width: 100%;
}
.controle-cocher
{
    @extend .form-check-input;
}
.etiquette-cocher
{
    @extend .form-check-label;
}
header
{
    background-color:#f8f9fa;
    //background-color: fuchsia;
}
.contenu
{
    margin-left: $margeContenu; 
    background-color:#f8f9fa;
    width: 60%;

}
.titre
{
    margin-left: $margeContenu;
}
.boutons-liste 
{
    
    margin-left: 30%;
    margin-top: -2.5%;

}
.bouton-ajouter
{
    margin-bottom: 1%;
}
.boutons-entete
{
  // margin-left: $margeContenu;
   //margin-top: 0%;
}
.texte-rouge
{
    @extend .text-danger;
    
}
.texte-index
{
    margin-left: $margeContenu;
}
.logo
{
    float: left;
}
.selecteur-recherche
{
    margin-left:7%;
    margin-right:78%; 
}
