@import "bootstrap-4.0.0/scss/bootstrap.scss";


$font-stack:    Helvetica, sans-serif;
$couleur-principal: #fcc200;
$hover-principal: #c18e00;

$couleur-secondaire: #333;

body {
  font: 100% $font-stack;
}

.nav-objet {
  @extend .nav-item;
}

.nav-lien {
  @extend .nav-link;
  font-size:25px;
}

.nav-lien:hover {
  
}

.ligne{
  @extend .row;
}

.conteneur{
  @extend .container;
  padding-left: 2%;
  padding-right: 2%;
  /*margin-left: 15%;
  margin-right: 15%;*/
}

.bouton-validation{
  @extend .btn;
  @extend .btn-primary;

  background-color: $couleur-principal;

  &:hover {
    background-color: $hover-principal;
  }
}

.carte-connexion{
  @extend .card;
  border: none;
  //background-color: rgba(160, 157, 156, 0.322);

  padding: 1%;
  margin-top: 3%;

}

.input-connexion{
  @extend .form-control;
  margin: 2%;

}

.bouton-secondaire{
  @extend .btn;
  @extend .btn-secondary;

}

#navbar{
  background-color: #14141400 !important;
  width: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 20;
}