@import "bootstrap-4.0.0/scss/bootstrap.scss";


$font-stack:    Helvetica, sans-serif;
$couleur-principal: rgba(177, 175, 132, 0.79);
$couleur-secondaire: #333;

body {
  font: 100% $font-stack;
}

.nav-objet {
  @extend .nav-item;
}

.nav-lien {
  @extend .nav-link;
  font-size:25px;
}

.ligne{
  @extend .row;
}

.conteneur{
  @extend .container;
  padding-left: 2%;
  padding-right: 2%;
  /*margin-left: 15%;
  margin-right: 15%;*/
}

.bouton-validation{
  @extend .btn;
  @extend .btn-primary;

  background-color: #fcc200;

  &:hover {
    background-color: #c18e00;
  }
}